@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 8px;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 22px;
}
#header4-0 H1 {
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#header4-0 P {
  color: #ffffff;
}
#form2-0 .mbr-header__text {
  color: #000000;
  font-size: 25px;
}
#form1-0 .mbr-header__text {
  color: #ffffff;
}
